
<div class="header__controls">
  <div class="volume-control">
    <a class="volume__down" music-volume data-type="decrease"><i class="fa fa-volume-down"></i></a>
    <div class="volume__level">
      <span style="width: {{ volume }}%"></span>
    </div>
    <a class="volume__up" music-volume data-type="increase"><i class="fa fa-volume-up"></i></a>
  </div>
  <div class="playback-control">
    <a class="playback__prev" prev-track><i class="fa fa-step-backward"></i></a>
    <a class="playback__play-pause" play-music ng-show="!isPlaying"><i class="fa fa-play"></i></a>
    <a class="playback__play-pause" pause-music ng-show="isPlaying"><i class="fa fa-pause"></i></a>
    <a class="playback__next" next-track><i class="fa fa-step-forward"></i></a>
    <a class="playback__playlist" ng-click="togglePlaylist()"><i class="fa fa-list"></i></a>
  </div>
  <div class="library-search">
    <input id="search-input" name="search-input" type="text" placeholder="Search..." ng-model="searchKeyword">
  </div>
</div>
<div class="header__playback-info" ng-show="currentPlaying">
  <div class="playback-info">
    <div class="playback-info__time-current">{{ playbackTimeCurrent }}</div>
    <div class="playback-info__song">{{currentPlaying.artist}} - {{ currentPlaying.title }}</div>
    <div class="playback-info__time-total">{{ playbackTimeTotal }}</div>
  </div>
  <div class="playback-progress" seek-track>
    <span id="playback-progress__slider" ng-style="{width : ( progress + '%' ) }"></span>
  </div>
</div>
<div class="header__section-titles" ng-show="showPlaylist">
  <div class="title-library">
    <div class="library-sections">
      <div class="song">Track</div>
      <div class="artist">Artist</div>
    </div>
  </div>
</div>
<div id="playlist">
    <ul id="playlist-list">
        <li ng-repeat="item in playlist | filter:searchKeyword" play-from-playlist="item" ng-class="{playing: currentPlaying.id == item.id}">
            <div class="song ng-binding">{{item.title}}</div>
            <div class="artist ng-binding">{{item.artist}}</div>
        </li>
    </ul>
</div>
