/*
 *= require font-awesome
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "player";
body {
  background: #e5e5e5;
}
.container {
  background: #fff;
  padding:10px 50px;
}
.player {
  position: fixed;
  width:100%;
  left:0;
  z-index: 10;
  right:0;
  bottom: 0;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
}
.full-player {
  top:0;
}
