$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
body {
  background: #e5e5e5;
}
.container {
  background: #fff;
  padding:10px 50px;
}
.player {
  position: fixed;
  width:100%;
  left:0;
  right:0;
  bottom: 0;
  height: 90px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  .song-title {
    float:left;
    width:200px;
  }
  .player-controls {
  }
}
