<!DOCTYPE html>
<html ng-app="recom">
  <head>
    <base href="/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>REcom</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <sound-manager></sound-manager>
    <div ui-view="main"></div>

    <div class="player"  ui-view="player">

    </div>

  </body>
</html>
